#menu_aside {
    width: 440px;
    background: linear-gradient(329.54deg, #339AC0 0%, #274954 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu_aside h2 {
    color: white;
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;   

    transition: color 0.5s;
}

#menu_aside h2:hover {
    color: #339AC0;
}

#menu_aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#menu_aside footer strong {
    font-weight: 800;
}